.gradle
build
.idea/
*.iml
*.iws
out/
target/
*.run/
.DS_Store
Thumbs.db
*~
*.swp
*.swo
target/
logs/
*.log
*.class
*.jar
*.war
*.ear
test-reports/
.git/
lib/
.DS_Store
Thumbs.db
.vscode/
.metals/
.bloop/
node_modules/
package-lock.json
